@import url('https://fonts.googleapis.com/css?family=Roboto');

$amarilloPrimario : #f3b610;
$blanco: #F7F7F7;
$grisUClaro: #96979C;
$negro: #000000;
$orange : #EE8E13;
$grisClaro : #72706b;
$grisOscuro : #292727;
$verde : #369AA0;
$primaryFont : 'Roboto', sans-serif;
$baseFont : 15px;
$secTitleFont : $baseFont * 2;
$titleFont : $baseFont + 6px;
$subtitleFont : $baseFont + 3px;
$littleFont : $baseFont - 3px;
$miniFont : $baseFont - 5px;
 
 .titulo-seccion{
	 font-size: $secTitleFont * 1.3;
	 font-weight: bold;
	 color: $amarilloPrimario;
 }
 
 .titulo-pub{
	 font-size: $titleFont;
	 color: $amarilloPrimario;
	 margin-top: 4px;
 }
 
  .subtitulo-pub{
	 font-size: $subtitleFont * 1.3;
 }
 
 .small-font{
	 font-size: $littleFont;
 }
 
 .mini-font{
	 font-size: $miniFont;
 }
 
 .enlace-wrap{
	 a{
		 color: $grisOscuro;
	 }
 }

.full{
	width: 100%;
	position: relative;
	float: left;
	clear: both;
}

.clean-menu{
	list-style: none;
	padding: 5px;
	margin: 8px 0;
	background: #f1f1f1;
	li{
		padding: 3px 5px;
		border-bottom: 1px solid $grisClaro;
		font-weight: bold;
		&:last-child{
			border: none;
		}
	}
}

.main-text{
	font-size: $secTitleFont;
	color: white;
}

.dark{
	color: $grisOscuro;
}

.horizontal-menu{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			a{
				display: block;
			}
		}
	}
}